body{
margin: 0%;

background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 200% 200%;
animation: gradient 7s ease infinite;
height: 100vh;
    
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


header{
  margin-left: 12%;
  width: 70%;
  text-align: center;
  border-radius: 0px 0px 100px 100px;
  border-bottom: solid rgb(245, 124, 156) 3px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5vh;
  margin-bottom: 2vh;
}
header h1{
  color: rgb(25, 116, 177) ;
  margin: 0%;
}

.heartcontainner{
  margin-left: -3%;
  margin-top: -20%;
  display: flex;
  
}

.heartframe{
  margin: auto;

}

.heart {
  margin-left: 20%;
  height: 100px;
  width: 100px;
  background: red;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px red;
  animation: heart 0.6s linear infinite;
}
@keyframes heart {
  0% {
      transform: rotate(-45deg) scale(1.00);
  }
  80% {
      transform: rotate(-45deg) scale(0.90);
  }
  100% {
      transform: rotate(-45deg) scale(0.80);
  }
}

.pgbg{
  margin-left: 10%;
  max-width: 75%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2%;
}

.roundcon{
  display: flex;
}

.roundind{
 color: rgb(1, 66, 109);
 margin: auto;
 margin-top: -2.5%;
}

.imgframe{
  border-radius: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated {
  animation: rotate 0.5s linear infinite;
}


.game-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  margin-top: 0%;
}


.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.team-info img {
  width: 250px; 
  height: 250px; 
  
}


.team-info p {
  color: rgb(1, 66, 109);
  margin-left: 110px;
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
}


.button-container {
  text-align: center;
  margin-top: 20px;
}


.result {
  color: rgb(0, 73, 122);
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}


.scoreboard {
  color: rgb(0, 73, 122);
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
}

.playbutton{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #ffffff;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 16px;
  margin-right: 15px;

}

 .playbutton:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }


  
.resetbutton{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #ffffff;
  background: #eb2626;
  line-height: 1.15;
  font-size: 16px;
  margin-left: 15px;

}

 .resetbutton:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #eb2626;
  }


.heart::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
  top: -55%;
  border-radius: 50px;
  box-shadow: -10px 10px 90px red;
}
.heart::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
  right: -55%;
  border-radius: 50px;
  box-shadow: -10px 10px 90px red;
}

footer{
  color: rgb(1, 66, 109);
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0%;
}